@use '../variables' as vars;

.section-container {
  width: 70%;
  margin: 0 auto;
  padding:25px;
  background-color: vars.$primary-color;
  border-radius: 5px;
}

.section-high {
  background: #c4d7e3;
  border-radius: 5px 5px 0 0;
}

.section-medium {
  background: #a1b6c4;
}

.section-low {
  background: #8c9fac;
  border-radius: 0 0 5px 5px;
}

.section-title {
  padding:10px;
}

.display-tool-item {
  display: flex;
  padding: 0.8rem;
  border-radius: 5px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}