.section-high {
  background: #ffdfdf;
  padding: 1rem;
}

.section-medium {
  background: #fcf6dd;
  padding: 1rem;
}

.section-low {
  background: #dbfddb;
  padding: 1rem;
}

.section-title {
  padding:10px;
}

.display-tool-item {
  display: flex;
}