@use './variables' as vars;
@use './mixins' as mix;
@use './reset';

body {
  font-family: vars.$font-stack;
  background: #d8e5f6;
}

h2 {
  color: vars.$primary-color;
  @include mix.flex-center;
}

.app-title {
  padding: 25px;
  font-weight: bolder;
}